{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'app/clarify.css' %}">
    <script src="{% static 'app/clarify.js' %}"></script>
    <title>Clarify -- No more BS</title>
</head>
<body>
    <h1>Words, not barriers</h1>
    <div>Powerful organizations and individuals hide behind big words and intentional obfuscation.
        With Clarify, we level the playing field.
    </div>
    <form method="post">
        <div class="content-input" id="content-input">
            <h2>What they say</h2>
            <textarea rows="20" cols="50"></textarea>
        </div>
        <div class="content-output" id="content-output">
            <h2>What they mean</h2>
            <div class="output">

            </div>
        </div>
    </form>
</body>
</html>